<ion-header>
  <ion-toolbar color="primary">
    <!-- Left Side Bar -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Schedule
    </ion-title>
    <ion-buttons (click)="presentModal()" slot="end">
      <ion-button>
        <ion-icon name="document"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
      <div class="scroll" scrollX="true">
      <ion-row flex-wrap: nowrap>
      <!--<ion-virtual-scroll direction="x" class="wide-as-needed">-->
        <ion-col *ngFor="let shiftsOnDate of shiftsOrganized" size=4>
            <ion-card>
                <ion-card-title>
                    {{shiftsOnDate[0].data().shiftStart.toDate().getWeekDay()}}
                    {{shiftsOnDate[0].data().shiftStart.toDate().getAbbrMonth()}}
                    {{shiftsOnDate[0].data().shiftStart.toDate().getDate()}}
                </ion-card-title>
                <ion-card *ngFor="let type of shiftTypes">
                    <ion-card-title>{{type}}</ion-card-title>
                    <ion-item-divider>
                    </ion-item-divider>
                    <ng-container *ngFor="let shift of shiftsOnDate">
                        <ion-item *ngIf="shift.data().type == type || ((shift.data().type != 'Outside Services' && shift.data().type != 'Golf Shop') && type == 'Other')">
                            {{shift.employeeNick}}: {{shift.data().shiftStart.toDate().getTimeStandard()}} - {{shift.data().shiftEnd.toDate().getTimeStandard()}}
                            <br>
                            <ion-label *ngIf="type == 'Other'"> {{shift.data().type}} </ion-label>
                        </ion-item>
                    </ng-container>
                </ion-card>
            </ion-card>
        </ion-col>
        <!--</ion-virtual-scroll>-->
      </ion-row>
      </div>
    </ion-grid>
</ion-content>