<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Schedule
    </ion-title>
    <ion-buttons (click)="presentModal()" slot="end">
      <ion-button>
        <ion-icon name="document"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let date of dateList">
          <ion-item-group>
            <ion-item-divider>
              <ion-label>
                {{date.getWeekDay()}}
                {{date.getAbbrMonth()}}
                {{date.getDate()}}
              </ion-label>
            </ion-item-divider>
            <ng-container *ngFor="let shift of shifts">
              <ion-item *ngIf="shift.data().shiftStart.toDate().getDate() == date.getDate()">
                {{shift.employeeNick}}: {{shift.data().shiftStart.toDate().getTimeStandard()}} - {{shift.data().shiftEnd.toDate().getTimeStandard()}}
              </ion-item>
            </ng-container>
          </ion-item-group>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>