<ion-header>
  <ion-toolbar color="primary">
    <!-- Left Side Bar -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Schedule
    </ion-title>
    <ion-buttons (click)="presentModal()" slot="end">
      <ion-button>
        <ion-icon name="document"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding scrollX="true" scrollY="false">
    <ion-grid>
      <ion-row flex-wrap: nowrap scrollY="false">
        <ion-col *ngFor="let shiftsOnDate of shiftsOrganized" size=4 scrollY="true">
          <div id="fixed" scrollY="true">
            <ion-card scrollY="true">
                <ion-card-title>
                  {{shiftsOnDate.shifts[0].data().shiftStart.toDate().getWeekDay()}}
                  {{shiftsOnDate.shifts[0].data().shiftStart.toDate().getAbbrMonth()}}
                  {{shiftsOnDate.shifts[0].data().shiftStart.toDate().getDate()}}
                </ion-card-title>
                <ion-card *ngIf="shiftsOnDate.shirtStartInfo != ''">
                  {{shiftsOnDate.shirtStartInfo}}
                </ion-card>
                <ion-card-content>
                  {{shiftsOnDate.dayInfo}}
                </ion-card-content>
                <ion-card *ngFor="let type of shiftTypes">
                    <ion-card-title>{{type}}</ion-card-title>
                    <ion-item-divider>
                    </ion-item-divider>
                    <ng-container class="item-text-wrap" *ngFor="let shift of shiftsOnDate.shifts">
                        <ion-card *ngIf="shift.data().type == type || ((shift.data().type != 'Outside Services' && shift.data().type != 'Golf Shop') && type == 'Other')" button="true">
                            <ion-card-content>
                              <ng-container [ngSwitch]="true">
                                <ion-label *ngSwitchCase="isOpenShift(shift.data().shiftStart.toDate()) && isCloseShift(shift.data().shiftEnd.toDate())"> {{shift.employeeNick}}: Open - Close}} </ion-label>
                                <ion-label *ngSwitchCase="isOpenShift(shift.data().shiftStart.toDate()) && !isCloseShift(shift.data().shiftEnd.toDate())"> {{shift.employeeNick}}: Open - {{shift.data().shiftEnd.toDate().getTimeStandard()}} </ion-label>
                                <ion-label *ngSwitchCase="!isOpenShift(shift.data().shiftStart.toDate()) && isCloseShift(shift.data().shiftEnd.toDate())"> {{shift.employeeNick}}: {{shift.data().shiftStart.toDate().getTimeStandard()}} - Close </ion-label>
                                <ion-label *ngSwitchDefault> {{shift.employeeNick}}: {{shift.data().shiftStart.toDate().getTimeStandard()}} - {{shift.data().shiftEnd.toDate().getTimeStandard()}} </ion-label>
                              </ng-container>
                              <div *ngIf="type == 'Other'">
                                {{shift.data().type}}
                              </div>
                            </ion-card-content>
                        </ion-card>
                    </ng-container>
                </ion-card>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>