<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/profile">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle>Announcements & Tips</ion-card-subtitle>
        <ion-card-title>{{tipBox.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{tipBox.content}}</p>
      </ion-card-content>
    </ion-card>
</ion-content>
